@model IEnumerable<MHOEC.Models.Plot>

@{
    ViewData["Title"] = "Plot List";
}

<h1>@ViewData["cropName"] Varieties</h1>
<h2>Plots for @ViewData["varietyName"]</h2>

<p>
    <a asp-action="Create">Add New Plot</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model=> model.Farm)">@Html.DisplayNameFor(model => model.Farm)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variety.Crop)
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model => model.Variety)">@Html.DisplayNameFor(model => model.Variety)</a>
            </th>

                <th>
                    @Html.DisplayNameFor(model => model.DatePlanted)
                </th>
              
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model => model.Cec)">@Html.DisplayNameFor(model => model.Cec)</a>
                </th>
            
              <th>
                    @Html.DisplayNameFor(model => model.Treatment)
                </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Farm.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Variety.Crop.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Variety.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DatePlanted)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Cec)
            </td>
           
            <td>
                @foreach (var t in item.Treatment)
                {
                    @Html.DisplayFor(modelItem => t.Name)<br />
                }
              
            </td>
            <td>
                <a asp-action="Index" asp-controller="MHTreatments" asp-route-id="@item.PlotId" asp-route-name="@item.Farm.Name">Manage Treatments</a> |
                <a asp-action="Edit" asp-route-id="@item.PlotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
